<div class="registration-container">
  <p-card class="registration-card">
    <div class="registration-form">
      <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      <div *ngIf="!isLoading">
        <form [formGroup]="vacationRequestForm" (ngSubmit)="onSubmit()">
          <div class="input-container gap-3">
            <div class="input-container">
              <h1>Solicitud de Vacaciones</h1>

              <!-- Fecha de inicio -->
              <input
                placeholder="Fecha de inicio"
                type="date"
                pInputText
                formControlName="startDate"
                [min]="calculateStartDate()"
              />
              <div
                class="errors-container"
                *ngIf="vacationRequestForm.get('startDate')?.invalid && vacationRequestForm.get('startDate')?.dirty"
              >
                <small
                  id="startDate-help"
                  class="error-msg"
                  *ngIf="vacationRequestForm.get('startDate')?.hasError('required')"
                >La fecha de inicio es requerida.</small>
              </div>

              <!-- Fecha de fin -->
              <input
                placeholder="Fecha de fin"
                type="date"
                pInputText
                formControlName="endDate"
                [min]="calculateStartDate()"
              />
              <div
                class="errors-container"
                *ngIf="vacationRequestForm.get('endDate')?.invalid && vacationRequestForm.get('endDate')?.dirty"
              >
                <small
                  id="endDate-help"
                  class="error-msg"
                  *ngIf="vacationRequestForm.get('endDate')?.hasError('required')"
                >La fecha de fin es requerida.</small>
                <small
                  id="endDate-help"
                  class="error-msg"
                  *ngIf="vacationRequestForm.hasError('minVacationDays')"
                >Las vacaciones deben ser de al menos 6 días.</small>
              </div>
            </div>
          </div>
          <div class="button-container">
            <p-button
              [disabled]="vacationRequestForm.invalid"
              type="submit"
              label="Enviar Solicitud"
            ></p-button>
          </div>
        </form>
      </div>
      <div *ngIf="isLoading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
  </p-card>
</div>
